@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <title>Thanks</title>
    <style>
        body {
            background-color: #F1F1F1
        }
    </style>
</head>
<body>
@{
    try
    {
        WebMail.SmtpServer = "smtp.example.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "mySmtpUsername";
        WebMail.Password = "mySmtpPassword";
        WebMail.From = "RVSP@example.com";

        WebMail.Send("part_host@example.com", "RVSP Subject", Model.Name + "is " + ((Model.WillAttend ?? false) ? "" : "not") + "Attending");
    }
    catch (Exception)
    {
        @:<b>Sorry We couldn't send the email to confirm your RVSP</b>
    }

}
<div class="text-center">
    <h2>Thanks @Model.Name!</h2>
    <div class="lead">
        @if (Model.WillAttend == true)
        {
            @:It's great that you are coming.
        }
        else
        {
            @:Sorry to hear you are not coming.
        }
    </div>
</div>
</body>
</html>
