.field-validation-error {
    border: 1px solid #f00; 
    background-color: #fee
}

.input-validation-valid {
    display: none;
}
.validation-summary-errors {
    color: #f00;
}
.validation-summary-valid {
    display: none;
}